body {
    background-color: black;
    color: white;
}

.vl {
    border-right: 2px solid white;
    height: fit-content;
}

header {
    display: flex;
}

header li {
    display: block;
    float: right;
    margin-right: 5%;
    font-size:xx-large;
}

header table {
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
}

/* visited link */
header a:visited {
    color: white;
}

/* mouse over link */
header a:hover {
    color: gray;
}

/* selected link */
header a:active {
    color: gray;
}

main {
    width: 70%;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin: 0 auto;
    background-color: gray;
    
}

footer li {
    display: inline;
    font-size: 2em;
}
footer ul {
    margin-bottom: 0;
}

footer p {
    margin-top : 0;
}